<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_key</key>
	<string>01cfe403f5f904a1958a31a43d2e9bb7</string>
	<key>Color</key>
	<dict>
		<key>IdentityColor</key>
		<dict>
			<key>Primary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
		</dict>
		<key>IdentityTextColor</key>
		<dict>
			<key>Primary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
		</dict>
		<key>MainTextColor</key>
		<dict>
			<key>Primary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
		</dict>
		<key>BackgroundColor</key>
		<dict>
			<key>Primary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Font</key>
	<dict>
		<key>TabTitle</key>
		<dict>
			<key>family</key>
			<string></string>
			<key>size</key>
			<string></string>
		</dict>
		<key>TagLabel</key>
		<dict>
			<key>family</key>
			<string></string>
			<key>size</key>
			<string></string>
		</dict>
		<key>ContainerTitle</key>
		<dict>
			<key>family</key>
			<string></string>
			<key>size</key>
			<string></string>
		</dict>
		<key>Label1</key>
		<dict>
			<key>family</key>
			<string></string>
			<key>size</key>
			<string></string>
		</dict>
		<key>Label2</key>
		<dict>
			<key>family</key>
			<string></string>
			<key>size</key>
			<string></string>
		</dict>
		<key>TagTitle</key>
		<dict>
			<key>family</key>
			<string></string>
			<key>size</key>
			<string></string>
		</dict>
		<key>ButtonTitle</key>
		<dict/>
	</dict>
	<key>Icon</key>
	<dict>
		<key>custom</key>
		<false/>
		<key>SPUIPickerView</key>
		<dict>
			<key>Search</key>
			<dict>
				<key>isActive</key>
				<true/>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Recent</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Store</key>
			<dict>
				<key>isActive</key>
				<true/>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Setting</key>
			<dict>
				<key>isActive</key>
				<true/>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
		</dict>
		<key>SPUIStoreViewController</key>
		<dict>
			<key>Download</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>DownloadComplete</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Hide</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Activate</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Move</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
		</dict>
		<key>SPUISearchBar</key>
		<dict>
			<key>Search</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Cancel</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>Function</key>
	<dict>
		<key>Sticker</key>
		<dict>
			<key>DoubleTap</key>
			<false/>
		</dict>
	</dict>
	<key>Layout</key>
	<dict>
		<key>SPUIPickerView</key>
		<dict>
			<key>OnKeyboard</key>
			<false/>
		</dict>
		<key>StickerListCellScale</key>
		<integer>6</integer>
	</dict>
	<key>SAuth</key>
	<dict>
		<key>isActive</key>
		<false/>
	</dict>
</dict>
</plist>
